/*===== VARS =====*/

:root {
    --dark-color-lighten: #38c3ff;
    --red-card: #a62121;
    --orange-text: #371d04;
    --btn: #141414;
    --btn-hover: #3a3a3a;
    --text: #fbf7f7;
}

/*===== SOME RESETS =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100vw;
    background-color: var(--dark-color-lighten);
    font-family: "Montserrat", sans-serif;
}



a {
    text-decoration: none;
}

.link-unstyled {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: 100%;
    user-select: none;
}

h1 {
    text-transform: uppercase;
    position: relative;
    font-size: 6em;
    letter-spacing: 5px;
    font-family: sans-serif;
    display: table;
    margin: 30px auto;
    margin-top: 30px;
    border: 5px solid #a62121;
    padding: 20px;
    cursor: pointer;
    transition: .6s;
    color: #21201f;
    background-color: #38c3ff;
}

h2 {
    text-transform: uppercase;
    position: relative;
    font-size: 6em;
    letter-spacing: 5px;
    font-family: sans-serif;
    display: flex;
    margin: auto;
    margin-top: 70px;
    cursor: pointer;
    transition: .6s;
}

h2:before,
h2:after {
    content: attr(data-text);
    transition: .9s;
}

h2:before {
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    text-shadow:
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px;
    -webkit-mask: repeating-linear-gradient(45deg, transparent 0 3px, rgba(0, 0, 0, 0.5) 0 6px);
    mask: repeating-linear-gradient(45deg, transparent 0 3px, rgba(0, 0, 0, 0.5) 0 6px);
}

h2:hover {
    transform: translate(0px, -10px);
    color: var(--dark-color-lighten)
}

h2:hover:before {
    text-shadow:
        1px 1px,
        2px 2px,
        3px 3px,
        4px 4px,
        5px 5px,
        6px 6px,
        7px 7px,
        8px 8px,
        9px 9px,
        10px 10px;
}

h3 {
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    font-size: 50px;
    color: #ef1717;
    background-color: #012c3e;
    border: 3px solid #a62121;
    margin: 0;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 3px 3px 10px rgb(95, 131, 202);
    border: 4px solid #38c3ff;
}

h5 {
    font-size: 40px;
    color: #000000;
    background-color: #38c3ff;
    border: 3px solid #a62121;
    margin: 0;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 3px 3px 10px rgb(95, 131, 202);
    border: 4px solid #a62121;
}

ul{
    list-style-type: none;
    text-align: center;
    font-size: 25px;
    color: #000;
    border: 3px solid #a62121;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
}

/*===== DETAIL POKEMON CSS =====*/

.container {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    align-items: flex-start
}

.container_2 {
    height: 100%;
    width: 100%;
    margin: auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.card {
    padding: 1rem;
    width: 300px;
    height: 100%;
    box-shadow: -1px 15px 30px -12px #202020;
    border-radius: 0.9rem;
    background-color: var(--red-card);
    color: var(--text);
    cursor: pointer;
}

.name_value_type_ability {
    text-transform: capitalize;
    display: inline-flex;
    margin: 5px 5px;
    justify-content: center;
    color: #ffb17c;
    font-weight: 600;
    font-size: 30px;
    padding: 3px;
    text-shadow: 3px 3px 10px rgb(37, 60, 105);
    background-color: #590000;
}

.name_value_type_ability2 {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    color: #38c3ff;
    font-weight: 600;
    font-size: 30px;
    padding: 3px;
    text-shadow: 3px 3px 10px rgb(37, 60, 105);
    
}

.value_stat {
    display: inline-flex;
    justify-content: center;
    color: #ff8838;
    font-weight: 600;
    font-size: 30px;
    padding: 10px;
    background-color: #4e1301;
    text-shadow: 3px 3px 10px rgb(37, 60, 105);
    border: 3px solid #38c3ff;
    border-radius: 20px;
}


.poke-image {
    border-bottom: 3px solid #fff;
    margin: 10px auto;
    padding: 0;
    height: 230px;
    width: 230px;
    transform: translate(0, -1.5rem);
    transition: transform 500ms ease-in-out;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
}

.poke-info {
    text-align: center;
    text-decoration: none;
    color: var(--orange-text);
}

.card:hover .poke-image {
    transform: translate(0rem, 1rem);
}


@media screen and (max-width: 650px) {
    body {
        height: auto;
    }

    .container {
        padding: 2rem 0;
        width: 100%;
        flex-direction: column;
        gap: 3rem;
    }

    h1 {
        font-size: 50px;
    }
}