/*===== VARS =====*/

:root {
    --dark-color-lighten: #38c3ff;
    --red-card: #a62121;
    --orange-text: #371d04;
    --btn: #141414;
    --btn-hover: #3a3a3a;
    --text: #fbf7f7;
}

/*===== SOME RESETS =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100vw;
    background-color: var(--dark-color-lighten);
    font-family: "Montserrat", sans-serif;
}



a {
    text-decoration: none;
}

.link-unstyled{
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: 100%;
    user-select: none;
}

h1 {
    position: relative;
    font-size: 6em;
    letter-spacing: 5px;
    font-family: sans-serif;
    display: table;
    margin: 30px auto;
    margin-top: 30px;
    border: 5px solid #a62121;
    padding: 20px;
    cursor: pointer;
    transition: .6s;
    color: #310e00;
    background-color: #38c3ff;
}

h2 {
    text-transform: uppercase;
    position: relative;
    font-size: 6em;
    letter-spacing: 5px;
    font-family: sans-serif;
    display: flex;
    margin: auto;
    margin-top: 70px;
    cursor: pointer;
    transition: .6s;
}

h2:before,
h2:after {
    content: attr(data-text);
    transition: .9s;
}

h2:before {
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    text-shadow:
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px,
        0px 0px;
    -webkit-mask: repeating-linear-gradient(45deg, transparent 0 3px, rgba(0, 0, 0, 0.5) 0 6px);
    mask: repeating-linear-gradient(45deg, transparent 0 3px, rgba(0, 0, 0, 0.5) 0 6px);
}

h2:hover {
    transform: translate(0px, -10px);
    color: var(--btn)
}

h2:hover:before {
    text-shadow:
        1px 1px,
        2px 2px,
        3px 3px,
        4px 4px,
        5px 5px,
        6px 6px,
        7px 7px,
        8px 8px,
        9px 9px,
        10px 10px;
}

h3{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
}

h4{
    font-size: 50px;
    color: #000;
    background-color: #38c3ff;
    border: 3px solid #a62121;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
}

/*===== LIST POKEMON CSS =====*/

.container {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    margin-bottom: 30px;

}

.card {
    padding: 1rem;
    width: 300px;
    height: 100%;
    box-shadow: -1px 15px 30px -12px #202020;
    border-radius: 0.9rem;
    background-color: var(--red-card);
    color: var(--text);
    cursor: pointer;
}

.card2 {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 300px;
    height: 100%;
    box-shadow: -1px 15px 30px -12px #202020;
    border-radius: 0.9rem;
    background-color: var(--red-card);
    color: var(--text);
    cursor: pointer;
}

.poke-image {
    border-bottom: 3px solid #fff;
    margin: 10px auto;
    padding: 0;
    height: 230px;
    width: 230px;
    transform: translate(0, -1.5rem);
    transition: transform 500ms ease-in-out;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
}

.poke-info {
    text-align: center;
    text-decoration: none;
    color: var(--orange-text);
}

.card:hover .product-image {
    transform: translate(-1.5rem, -7rem) rotate(-20deg);
}

.poke-info h2 {
    font-size: 1.4rem;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    color: var(--text);
}

.poke-info h2:hover {
    font-size: 1.8rem;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    color: var(--orange-text);
}

.poke-info p {
    margin: 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
}

@media screen and (max-width: 650px) {
    body {
        height: auto;
    }

    .container {
        padding: 2rem 0;
        width: 100%;
        flex-direction: column;
        gap: 3rem;
    }

    h1{
        font-size: 50px;
    }
}